@model Order

<body>

    <p>
        Status @Model.Status
    </p>
    <p>
        LastName  @Model.LastName
    </p>

    <p>
        FirstName  @Model.FirstName
    </p>
    <p>
        Email   @Model.Email
    </p>

    <p>
        Warehouse   @Model.Warehouse
    </p>
    <p>
        PostId  @Model.PostId
    </p>
    <p>
        City   @Model.City
    </p>
    <p>
        PhoneNumber  @Model.PhoneNumber
    </p>
</body>