@using BulletinBoard.Data.ViewModels
@using BulletinBoard.Data.Static
@model AnimalAttributeVM
@{
    ViewData["Title"] = "Update Post";
}
<div class="row">
    <div class="col-md-8 offset-2">
        <p>
            <h4>Update a  Animal</h4>
        </p>
        <div class="row">
            <div class="col-md-8 offset-2">
                <form asp-action="Edit" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Post.Titile" class="control-label"></label>
                                <input asp-for="Post.Titile" class="form-control" />
                                <span asp-validation-for="Post.Titile" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Post.Price" class="control-label"></label>
                                <input asp-for="Post.Price" type="number" class="form-control" />
                                <span asp-validation-for="Post.Price" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Age" class="control-label"></label>
                                <input asp-for="Age" type="number" class="form-control" />
                                <span asp-validation-for="Age" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label asp-for="Post.Description" class="control-label"></label>
                                <textarea asp-for="Post.Description" class="form-control"></textarea>
                                <span asp-validation-for="Post.Description" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <span>
                        <strong>Alreaydy existed photos</strong>
                    </span>
                    <div>
                        @for (int i = 0; i < Model.Post.ExistedImage.Count; i++)
                        {
                            <span>previous photo</span>
                            <img src="~/uploads/@Model.Post.ExistedImage[i].FileName" width="100%" >
                            string inputId = "preview" + i + "input";
                            string PATH = "preview" + i;
                            <div class="image-preview-container">
                                 <span>new photo</span>
                                <div class="preview">
                                    <img style="width: 300px" id=@PATH />
                                </div>
                                <label for="file-upload">Upload Image</label>
                                <input type="button"
                                   value="click here to clear"
                                   onclick="deleteImage(  '@i.ToString()', '@inputId' )" />
                                <input class="previousinput" asp-for="Post.ExistedImage" type="file" id="@inputId" accept="image/*" onchange="previewImage(event , '@i.ToString()');" />
                            </div>
                        }
                        <body onload="previousFile()">
                        </body>
                    </div>
                      <span> <strong> New photos</strong></span>
                    <div>
                        @for (int i = Model.Post.ExistedImage.Count; i < ImageLimit.ImageLimitPerPost; i++)
                        {
                            string inputId = "preview" + i + "input";
                            string PATH = "preview" + i;

                            <div class="image-preview-container">
                                <div class="preview">
                                    <img style="width: 300px" id=@PATH />
                                </div>
                                <label for="file-upload">Upload Image</label>
                                <input type="button"
                                   value="click here to clear"
                                   onclick="deleteImage(  '@i.ToString()', '@inputId' )" />
                                <input asp-for ="Post.ImageFile" type="file" id="@inputId" accept="image/*" onchange="previewImage(event , '@i.ToString()');" />
                            </div>
                        }
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Update" class="btn btn-outline-success float-right" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    const previousFile = () => {
        const inputs = document.querySelectorAll('.previousinput')
        inputs.forEach(el => {
            const myFile = new File(['Hello World!'], el.id, {
                type: 'text/plain',
                lastModified: new Date(),
            });
            const dataTransfer = new DataTransfer();
            dataTransfer.items.add(myFile);
            el.files = dataTransfer.files;
        })
    }

    const deleteImage = (id, inputId) => {
        document.getElementById(inputId).value = '';

        const imagePreviewElement = document.querySelector("#preview" + id);
        imagePreviewElement.style.display = "none";
    };

    const previewImage = (event, id) => {
        const imageFiles = event.target.files;

        const imageFilesLength = imageFiles.length;

        const imageSrc = URL.createObjectURL(imageFiles[0]);

        const imagePreviewElement = document.querySelector("#preview" + id);

        imagePreviewElement.src = imageSrc;

        imagePreviewElement.style.display = "block";
    };
</script>


